* {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 50px;
  padding-top: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 40px !important;
  margin: 10px;
}

.search {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}
